* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.webgl {
  position: fixed;
  z-index: 40;
}

.loading--background {
  position: fixed;
  background: black;
  width: 100%;
  height: 100%;
}

/* UI */

.ui {
}

#loading--bar {
  position: fixed;
  z-index: 2147483647;
  background: white;
  width: 100vw;
  height: 3px;
  top: 50%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

#loading--bar.ended {
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 2s ease-in-out;
}

/* Display */

.display {
  opacity: 0;
}

/* Icon */
.icon {
  position: fixed;
  z-index: 2147483647;
  opacity: 0;
}

.icon__mini {
  transition: transform 0.3s;
}

.icon__mini:hover {
  transform: scale(1.1);
}

.icon__medium {
  font-size: 6rem;
}

@media screen and(min-width: 768px) {
  .icon__medium {
    font-size: 3rem;
  }
}

.icon__green {
  color: #2edb1f;
}

.icon__white {
  color: white;
}

.icon__shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.icon__exit {
  align-self: flex-end;
}

.icon__top-right {
  float: right;
  right: 5rem;
  top: 5rem;
}

.icon__bottom-right {
  float: right;
  right: 5rem;
  bottom: 5rem;
}

.icon__transition {
  transition: all 0.3s;
}

.icon__hover:hover {
  opacity: 0.7;
  transform: scale(1.1) translateY(-5px);
  text-shadow: 1px 1px 10px lightgray;
}

#sound-mute {
  right: 15rem;
}

#wasd {
  top: 15rem;
}

/* Container */

.container {
  position: relative;
  z-index: 2147483647;
  display: flex;
  justify-content: center;
}

/* Chat box */

.chat-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transform: scale(0);
  position: fixed;
  background: white;
  border-radius: 2rem;
  border: none;
  bottom: 3rem;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  justify-self: center;
  width: 35%;
  min-height: 20%;
  padding: 2.5rem 5rem;
  transition: all 0.3s;
}

.chat-box .heading {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.chat-box .chat-content {
  margin: 1.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;
}

.next-previous {
  bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
